# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/uploads/
/.tmp-marketplace-sensitive-media/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.vercel-preview*
.env.local.backup*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# generated
/lib/generated/prisma

# package managers
.pnpm-store/
